{% extends 'hubpage/tu_base.html' %}
{% load static %}

{% block content %}

<p><p></p></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         
        <form class="form-horizontal form-label-left" method="POST">
        <p> </p>

          <div class="col-lg-text-align: center">
            
            
              <h5><b></b>Conozca si usted esta siendo victima de violencia psicologica</h5>
                
              </div>

          <div class="form-group row">
              
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="edad">¿Cuántos años tiene? <span
                class="required">*</span>
            </label>

            <div class="col-md-6 col-sm-6 ">
              {{ formmujer.edad }}

            </div>
          </div>



          <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="ocupacion">¿A qué se dedica?<span
                class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ formmujer.ocupacion }}
          

            </div>
          </div>

        <div class="form-group row">
            {% csrf_token %}
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="estado">¿Cuál es su estado civil?<span
                    class="required">*</span>
            </label>                  
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-15">
                        {{ formmujer.estadocivil }}
                    </div>
                </div>
        
        </div>
        
        
        <div class="col-md-6 col-sm-6 ">
            
          </div>



          <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align">¿Cuál es su nivel de educación?</label>
            <div class="col-md-6 col-sm-6 ">
              {{ formmujer.nivel_educacion }}

            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align">¿Cuántos hijos tiene? <span
                class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ formmujer.hijos }}

            </div>
          </div>

          <fieldset class="form-group">
              <h5>Seleccione la opción </h5>
          </fieldset>

         
            <div class="col-md-6 offset-md-5">
              <button type="submit" class="btn btn-danger">Cancelar</button>
              <button id="send" type="submit" class="btn btn-success">Enviar</button>
            </div>

        </form>

      </div>
    </div>
  </div>



{% endblock %}