{% extends 'hubpage/tu_base.html' %}
{% load static %}

{% block content %}
<div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>
          <strong> </strong>
          <small></small>
        </h3>
      </div>
    </div>
  
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
  
        <div class="x_title">
          <h3>
            <small>
              <strong>Resultado de la encuesta </strong>
            </small>
          </h3>
        </div>
  
        <div class="col-sm-10">
          
          <div class="dataTables_length" id="datatable_length">
                      
            <h1>{{ mujer   }}</h1>
            <h1>Usted presenta VIOLENCIA PSICOLOGICA EN : {{mujer.calcular.3 }}</h1>
                   <h1>Usted presenta Aislamiento en : {{mujer.calcular.0}}</h1>
                   <br> 
                   <h1>Usted presenta Intimidacion en : {{mujer.calcular.1 }}</h1> 
                   <br>
                   <h1>Usted presenta Desvalorizacion en : {{mujer.calcular.2 }}</h1> 
            
            
          </div>
  
          
        </div>
      </div>
    </div>
  
   
  
  
</div>

  

{% endblock %}