{% extends 'hubpage/tu_base.html' %}
{% load static %}

{% block content %}

<section class="page-section" id="Hacer Test">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <form class="form-horizontal form-label-left" method="POST">

          <div class="form-group row">
            {% csrf_token %}
            {% if formmujer.estadocivil.errors %}
            {% for i in formmujer.estadocivil.errors %}
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="edad"> {{ i }} </label>

            {% endfor %}

            {% endif %}
          </div>

          <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="edad">¿Cuántos años tiene? <span
                class="required">*</span>
            </label>

            <div class="col-md-6 col-sm-6 ">
              {{ formmujer.edad }}

            </div>
          </div>



          <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="ocupacion">¿A qué se dedica?<span
                class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ formmujer.ocupacion }}
          

            </div>
          </div>



          <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align" for="estado">¿Cuál es su estado civil?<span
                class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ formmujer.estadocivil }}
              {% if formmujer.estadocivil.errors %}
              {% for i in formmujer.estadocivil.errors %}
              <label class="col-form-label  label-align text-danger" > {{ i|escape }} </label>
  
              {% endfor %}
  
              {% endif %}
            </div>
          </div>


          
          <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align">¿Cuál es su nivel de educación?</label>
            <div class="col-md-6 col-sm-6 ">
              {{ formmujer.nivel_educacion }}

            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align">¿Cuántos hijos tiene? <span
                class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 ">
              {{ formmujer.hijos }}

            </div>
          </div>

          <input type="submit" class="form-control" value="enviar""> 

        </form>

      </div>
    </div>
  </div>
</section>


{% endblock %}