{% load static %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Violencia psicologica </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Bienvenido">Bienvenido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="test1mujer/">Hacer Test</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Pida Ayuda">Pida Ayuda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Estadistica">Estadistica</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Contactenos">Contactenos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="login/">Intranet</a>

              </li>
          </ul>
        </div>
      </div>
    </nav>
  
   