{% extends "adminpage/ta_base.html" %}
{% load static %}

{% block jsimport %}
<script src="{%  static 'ta/js/reporte_rango.js' %}"></script>
{% endblock %}
{% block content %}
<div class="col-md-6 col-sm-6  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Donut Graph</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="echart_donut_rango" style="height:350px;"></div>
        </div>
    </div>
</div>


<div class="col-md-6 col-sm-6  ">
    <div class="x_panel">
      <div class="x_title">
        <h2>Rango de gravedad</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div id="echart_gauge_rango" style="height:370px;"></div>
      </div>
    </div>
  </div>


{% endblock %}